<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class ki Baaten</title>
</head>
<body><center>
    <table>
        <form method="post" action="{{url_for ('login_success')}}" name="login_page" >
            <h1>Log in to Class ki Baaten</h1>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            
            <tr>
                <!-- <td>First Name</td> -->
                <td><input type="submit" value="Log in"></td>
            </tr>
        </form>
        <tr>
            <!-- <td>First Name</td> -->
            <td><a href="{{url_for ('signup')}}">Sign up</a></td>
        </tr>
    </table><div style="color: maroon;">{{msg}}</div></center>
</body>
</html>